.logoImage{
    max-width: 200px;
    margin:20px auto;
    display: block;
}

.disbaledImage{
    cursor: default !important;
    
}

.report-table{
    width: 90%;
}

.navbar{
    background: rgba( 214, 248, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.0px );
-webkit-backdrop-filter: blur( 2.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.whole-inventory{
    background-color: black;
   
}
.mat.Drawer:hover {
    background-color: #5469d4;
  }