.logoImage{
    max-width: 200px;
    margin:20px auto;
    display: block;
}

.disbaledImage{
    cursor: default !important;
    
}
.menuitem{
   width: auto 0 0;
   margin: 0 0 0 0;
   
}
.menuitem:hover{
    background-color:rgb(119, 224, 238);
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    font-weight: 800;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.report-table{
    width: 90%;
}

.navbar{
    background: rgba( 214, 248, 255, 0.25 );

backdrop-filter: blur( 2.0px );
-webkit-backdrop-filter: blur( 2.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.whole-inventory{
    background-color: black;
   
}

