body {
  margin: 0;
  padding: 0;
  
  font-family: sans-serif;
 
}
body::-webkit-scrollbar{
  display: none;
}
.particles{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index:-1;
}